img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btnToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100
}

.home {
    background-image: url(home-bg.png);
    background-size: cover;
    height: 100vh;
    padding: 20px;
}

.f1 {
    display: grid;
    grid-template-columns: 2fr 1fr
}
.f1 div {
    background-image: url(f1Grid.jpg);
    background-size: cover;
    height: 100vh;
    padding: 20px;
    text-align: center
}
.f1 div:nth-child(2) {
    color: white;
    background: black;
    height: 100vh;
    padding: 20px;
    text-align: left
}

.f1Link {
    width: 33%
}

.alignRight {
    text-align: right
}

.height100vh {
    height: 100vh
}

.footer {
    color: darkcyan;
    text-align: center
}